@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}
<h1 class="titulo_pages">Equipo</h1>
<h2 class="titulo_tabla">Listado de Equipos</h2>

<a class="btn_add" asp-page="./Create"><i class="fa-regular fa-square-plus"></i></a>
<div class="container_tabla">
  <table class="tabla">
    <thead class="thead_container">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Municipio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="tbody_container">
      @foreach (var equipo in Model.equipos)
      {
        <tr>
          <th scope="row">@equipo.Id</th>
          <td>@equipo.Nombre</td>
          <td>@equipo.Municipio.Nombre</td>
          <td>
            <a class="btn_details" asp-page="./Details" asp-route-id="@equipo.Id"><i class="fa-solid fa-info"></i></a>
            <a class="btn_edit" asp-page="./Edit" asp-route-id="@equipo.Id"><i class="fa-regular fa-pen-to-square"></i></a>
            @if (equipo.Jugadores.Count == 0)
            {
             
              
                <form method="post" class="d_inline">
                  <button class="btn_delete" asp-page-handler="Delete" asp-route-id="@equipo.Id"
              onclick="return confirm('Esta Seguro de eliminar el Equipo?')" class="btn_delete">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </form>
              
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>